{{ "{% initJquery 'GRID:grid-table' %}" }}
{{ "{% if app.request.query.get('NoLayout') %}" }}
	{{ "{% set layout_nav = getParameter('sfynx.auth.theme.layout.ajax') %}" }}
{{ "{% else %}" }}
	{{ "{% set layout_nav = app.request.attributes.get('sfynx-layout') %}" }}
{{ "{% endif %}" }}	
{{ "{% extends layout_nav %}" }}

{{ '{% block title %}' }}
	<h1>{{ entity }}</h1>
{{ '{% endblock %}' }}
 
{{ '{% block content %}' }}

    {{ '{{ parent() }}' }}
    
	{% if 'new' in actions %}
	{{ "{% if NOT app.request.query.get('NoLayout') %}" }}
	<!--  start actions-box ............................................... -->
	<div id="actions-box">
		<a href="{{ "{{ path('"~ route_name_prefix ~"_new', {'NoLayout': app.request.attributes.get('sfynx-layout') }) }}" }}" class="action-edit" title="{{ "{{ 'pi.grid.action.create'|trans }}" }}">{{ "{{ 'pi.grid.action.create'|trans }}" }}</a>
		<div class="clear"></div>
	</div>
	<!-- end actions-box........... -->
	{{ "{% endif %}" }}
	{% endif %}

	{% include getParameter('sfynx.auth.theme.layout.admin.pc')|replace({'::': ':'})~"Crud:index-header.html.twig" %}
	<table id="grid_{{ entity|lower|replace({"\\": '_'}) }}" class="grid" >
	    <thead>
	        <tr>

	        {%- for field, metadata in fields %}
	        
	        	{%- if field in ['position'] %}
	        	
	            <th class="position" >{{ field|capitalize }}</th>
	            	
	            {%- else %}
	            
	            <th>{{ field|capitalize }}</th>
	            	
	            {%- endif %}
	            
	        {%- endfor %}
	        
	            <th>Actions</th>
	        </tr>
	    </thead>
	    <tbody>
	    {{ '{% if not isServerSide %}' }}
		    {{ '{% set num_line = 0 %}' }}
		    {{ '{% for entity in entities %}' }}
		        <tr {{ '{% if(num_line == 0) %}class="odd"{% endif %}' }}  {{ "id='{{ entity.position }}_row_{{ entity.id }}'"}}  >
		        
			{%- set is_position = "" -%}
			{%- set value_id_position = "1" -%}
		    {%- for field, metadata in fields %}
		        {%- if loop.first and ('show' in actions) %}
		
		            <td><a href="{{ "{{ path('"~ route_name_prefix ~"_show', { 'id': entity.id, 'NoLayout': app.request.query.get('NoLayout') }) }}" }}" title="">{{ '{{ entity.'~ field|replace({'_': ''}) ~' }}' }}</a></td>

				{%- elseif metadata.type in ['array'] %}	
				
					<td class="enabled" width="20px">{{ '{{ entity.'~ field ~'|print_r }}' }}</td>	            
		
		        {%- elseif metadata.type in ['date', 'datetime'] %}
		
		            <td>{{ '{% if entity.'~ field|replace({'_': ''}) ~' %}{{ entity.'~ field|replace({'_': ''}) ~'|date(\'Y-m-d\') }}{% endif%}' }}</td>
		
				{%- elseif field in ['enabled'] %}
		
		            <td class="enabled" width="20px">{{ '{{ entity.'~ field ~' }}' }}</td>
		
				{%- elseif field in ['position'] %}
				
					{%- set is_position = "'1':'Position'," -%}
					{%- set value_id_position = "2" -%}
					
					<td class="position" >{{ '{{ entity.'~ field ~'}}' }}</td>
		
		        {%- else %}
		
		            <td>
		            	{{ '{{ entity.'~ field|replace({'_': ''}) ~'|truncateText(55)|raw }}' }}
		            </td>
		
		        {%- endif %}
		
		        {%- if loop.last %}
		
					<td width="130px">
					
		        	{%- include "views/others/actions.html.twig.twig" %}
	
					</td>
		
		        {%- endif %}
		    {%- endfor %}
		
		        </tr>
		        {{ "{% if num_line == 0 %}" }} 
		        	{{ "{% set num_line = 1 %}" }}
		        {{ "{% else %}" }}
		        	{{ "{% set num_line = 0 %}" }}
		        {{ "{% endif %}" }}	
		                
		    {{ "{% endfor %}" }}
	    {{ "{% endif %}" }}
	    </tbody>
	</table>
	{{ '{% include getParameter('sfynx.auth.theme.layout.admin.pc')|replace({'::': ':'})~"Crud:index-footer.html.twig" %}' }}
	
{{ '{% endblock %}' }}

{{ '{% block global_script_divers_footer %}' }}	

	{{ "{% set options_gridtabale = {'grid-name': 'grid_"~ entity|lower|replace({"\\": '_'}) ~"', 'grid-type':'simple', 
	        'grid-server-side': isServerSide,
	        'grid-state-save' : 'false',
	        'grid-pagination-type': 'full_numbers',
			'grid-paginate':'true',
			'grid-paginate-top': 'true',
			'grid-LengthMenu':25,
	        'grid-row-select':'multi',
			'grid-filter-date': {
				'0': {'column' : 2, 'title-start': 'date min crea. ', 'title-end': 'date max crea.', 'right':'730', 'width':'183', 'format' : 'yy-mm-dd', 'idMin':'minc', 'idMax':'maxc'},
				'1': {'column' : 3, 'title-start': 'date min mod. ', 'title-end': 'date max mod.', 'right':'550', 'width':'183', 'format' : 'yy-mm-dd', 'idMin':'minu', 'idMax':'maxu'},
                '2': {'column' : 4, 'title-start': 'date min pub. ', 'title-end': 'date max pub.', 'right':'370', 'width':'183', 'format' : 'yy-mm-dd', 'idMin':'minp', 'idMax':'maxp'},
                '3': {'column' : 5, 'title-start': 'date min arc. ', 'title-end': 'date max arc.', 'right':'190', 'width':'183', 'format' : 'yy-mm-dd', 'idMin':'mina', 'idMax':'maxa'},
            },			
			'grid-filters-select': ['0','1','2','3','4','5','6'],
			'grid-filters-active':'true',
			'grid-filters': { 
					"~ is_position ~"
					'"~ value_id_position ~"':'Identifiant',
				},
		    'grid-filters-tfoot-up':'true',
			'grid-sorting': { 
					'0':'asc',
				},
            'grid-columns': { 
					'0': { "bSortable": true },
					'1': { "bSortable": true },
					'2': { "bSortable": true },
					'3': { "bSortable": true },
					'4': { "bSortable": true },
					'5': { "bSortable": true },
					'6': { "bSortable": false },
				},					
			'grid-visible': {
				'0':'true',
				'1':'false',
				},						
			'grid-actions': { 
					'rows_position': {'route':'admin_gedmo_"~ entity|lower|replace({"\\": '_'}) ~"_position_ajax',},
					'select_all': {'sButtonText':'pi.grid.action.select_all'},
					'select_none': {'sButtonText':'pi.grid.action.select_none'},
					'rows_enabled': {'sButtonText':'pi.grid.action.row_enabled', 'route':'admin_gedmo_"~ entity|lower|replace({"\\": '_'}) ~"_enabledentity_ajax',},
					'rows_disable': {'sButtonText':'pi.grid.action.row_disable', 'route':'admin_gedmo_"~ entity|lower|replace({"\\": '_'}) ~"_disablentity_ajax'},
					'rows_archive': {'sButtonText':'pi.grid.action.row_archive', 'route':'admin_gedmo_"~ entity|lower|replace({"\\": '_'}) ~"_archiventity_ajax'},
					'rows_delete': {'sButtonText':'pi.grid.action.row_delete', 'route':'admin_gedmo_"~ entity|lower|replace({"\\": '_'}) ~"_deletentity_ajax'},
					'copy': {'sButtonText':'pi.grid.action.copy'},
					'print': {'sButtonText':'pi.grid.action.print'},
					'export_pdf': {'sButtonText':'pi.grid.action.export'},				
					'export_csv': {'sButtonText':'pi.grid.action.export'},
					'export_xls': {'sButtonText':'pi.grid.action.export'},					
				}		
			} 			
	%}" }}
	{{ "{{ renderJquery('GRID', 'grid-table', options_gridtabale )|raw }}" }}	

{{ '{% endblock %}' }}